* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, div, canvas {
  position: absolute;
  overflow: hidden;
}

/*
#windowCanvas {
  background: #fff;
}
#frameContainer {
  background: #f4f4f4;
}
#actionContainer {
  background: #444;
}
#countdownContainer {
  background: #f4f4f4;
}
#spellContainer {
  background: #fff;
}
*/
