* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, div, canvas {
  position: absolute;
  overflow: hidden;
}

#windowCanvas {
  background: #000;
}
#frameContainer {
  background: #fff;
}
#actionContainer {
  background: #888;
}
#countdownContainer {
  background: #eee;
}
#spellContainer {
  background: #bbb;
}
