* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, div, canvas {
  position: absolute;
  overflow: hidden;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#debug {
  font-family: sans-serif;
  font-size: 15px;
  color: #333;
  z-index: 100;
}

#infoContainer {
  padding: 1%;
  font-family: Oxygen, sans-serif;
  font-weight: 700;
  color: #333;
}

#touchCanvas {
}

/*
#infoContainer {
  border: 1px solid #ddd;
}
#actionContainer {
  border: 2px solid #ddd;
}
#windowCanvas {
  background: #888;
}
#frameContainer {
  background: #f4f4f4;
}
#spellContainer {
  background: #fff;
}
#countdownContainer {
  background: #ddd;
}
#actionContainer {
  background: #444;
}
*/
